.sources {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    font: 300 1em 'Fira Sans', sans-serif;
    justify-content: center;
    height: 100vh;
    overflow-y: scroll;
    padding: calc(95px + 80 * (100vw - 768px) / (1920 - 768)) 0;
    width: min-content;
}

.sources::-webkit-scrollbar {
    width: 0;
}

@media (max-width: 768px) {
    .sources {
        width: 100vw;
        height: 25px;
    }
}

.source__item {
    background: none;
    border: 2px solid #30c5ff;
    box-sizing: border-box;
    color: #70d6ff;
    cursor: pointer;
    font: inherit;
    line-height: 1;
    margin: calc(3px + 5 * (100vw - 768px) / (1920 - 768));
    padding: calc(8px + 8 * (100vw - 768px) / (1920 - 768));
    text-align: center;
    transition: 0.25s;
    width: calc(180px + 170 * (100vw - 768px) / (1920 - 768));
}

.source__item:hover,
.source__item:focus {
    border-color: #3fcc59;
    color: #69db7e;
    box-shadow: 0 0.5em 0.5em -0.4em #3fcc59;
    transform: translateY(-0.25em);
}

.source__item-name {
    font-size: calc(10px + 10 * (100vw - 320px) / (1920 - 320));
    font-weight: 400;
    white-space: wrap;
}
